* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style-type: none;
}

#root {
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

/*===================
    HEADER
====================*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: pink;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 0 10px;
}
/*==================
    FOOTER 
====================*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer ul {
  display: flex;
  justify-content: space-around;
  background-color: pink;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 0 10px;
}

/*==================
    FOOTER 
====================*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer ul {
  display: flex;
  justify-content: space-around;
}

/*=======================
    PRODUCT PAGE
========================*/
.productImage {
  position: relative;
}
.productImage .verified {
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.tags img {
  width: 80px;
  display: block;
}

.meterBar {
  width: 70%;
  height: 30px;
  padding-top: 16px;
  background-color: rgb(221, 210, 212);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.meterBar div {
  border-radius: 1rem;
  top: 0;
  bottom: 0;
  position: absolute;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  background-color: rgb(212, 35, 35);
}
.meterBar div p {
  text-align: center;
}
.meterBar > span {
  display: inline-block;
  width: 10%;
  height: 10px;
  border-right: 2px solid black;
  position: relative;
}
.meter > p {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
