/*===================
    GLOBAL
====================*/
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-family: 'Poppins', sans-serif;
}
a,
button {
  cursor: pointer;
}
button {
  background-color: #fff;
}
button:focus,
button:active,
input:focus,
input:active {
  outline: none;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
}
h3,
h6 {
  font-size: 2rem;
}
#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 250px;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

.noBorder {
  border: none;
}
.block {
  display: block;
}
.bgBlack,
.bgBlack:focus,
.bgBlack:active {
  background-color: #000;
  color: #fff;
}

/*=========================
    CONTAINER STYLES
===========================*/
.inner {
  max-width: 1280px;
  margin: auto;
  width: 90%;
}
.columns2 {
  display: flex;
  align-items: center;
}
.columns2 > :nth-child(n) {
  width: 50%;
}
.imageBox {
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.topBackground {
  background-image: url(./images/topbackground.png),
    url(./images/bottombackground.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  background-size: 30%;
}
.bottomBackground {
  background: url(./images/bottombackground.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 30%;
}
.sideBackground,
.homeback {
  background: url(./images/sidebackground.png);
  background-repeat: repeat-y;
  background-position: top right;
  background-size: 30%;
}
.topSideBackground,
.liquid {
  background: url(./images/topsidebackground.png);
  background-repeat: repeat-y;
  background-position: top right;
  background-size: 30%;
}
.noRepeat {
  background-repeat: no-repeat !important;
}
header + div:first-of-type {
  margin-top: 10vw;
}
#homepage {
  margin-top: 0 !important;
}
/*===================
    TO THE TOP
====================*/
#toTheTop {
  border-radius: 100%;
  position: absolute;
  bottom: 150px;
  background-color: #fff;
  left: 48vw;
  width: 4vw;
  height: 4vw;
  text-align: center;
  line-height: 4vw;
  font-size: 2rem;
  background-image: linear-gradient(180deg, #e4e1da, #eae0cf 50%, #dcd1bf 90%);
}
#toTheTop i {
  color: #fff;
}
/*===================
    NAVBAR
====================*/
header nav {
  display: flex;
  max-width: 1280px;
  margin: auto;
  width: 90%;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 0 10px;
}
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* margin-left: 140px;
  margin-right: 140px; */
}
.nav-active {
  margin-right: 12%;
}
.navbar a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  color: #4e4e4e;
}

.navbar ul li {
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 3px;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.right-nav form {
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
}

.searchnav-button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  background-color: #1f1f1f;
  margin-left: 5px;
  border-radius: 3px;
  height: 21px;
  width: 70px;
  border-radius: 3px;
}

.searchbar {
  border: none;
  width: 270px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
}

.profileimage {
  width: 27px;
  height: 28px;
  margin-left: 12%;
}

.burger,
.hamburgerexit {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

/*==================
    FOOTER 
====================*/
footer {
  background-image: url(./images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  padding-top: 120px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .inner {
  display: flex;
  align-items: center;
}
footer .social a {
  margin-right: 2vw;
}
footer .social {
  border-right: 2px solid #b6aa93;
  width: 20%;
}
footer ul {
  background-color: transparent !important;
  justify-content: space-between !important;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
footer ul li {
  width: 100%;
  text-align: right;
}
footer ul a {
  color: #b6aa93;
}
/*==================
    HOME PAGE
====================*/
.top-container {
  background-image: url(./images/homebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  position: relative;
}
.lotion {
  width: 100%;
  background: cover;
}

.think {
  position: absolute;
  width: 180px;
  height: 59.09px;
  left: 139px;
  top: 194px;
}

.clean {
  position: absolute;
  width: 213px;
  height: 65px;
  left: 325px;
  top: 194px;
  margin-left: 15px;
}

.p1 {
  position: absolute;
  width: 477px;
  height: 74px;
  left: 140.76px;
  top: 291px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
}

.read-more {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: #646464;
}

.p2 {
  display: flex;
  flex-wrap: wrap;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #3d3d3d;
  height: 73px;
  width: 928px;
  left: 140.763671875px;
  top: 693px;
}

.green-verified {
  position: absolute;
  width: 154px;
  height: 154px;
  right: 0;
  top: 0;
}
.second-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 49px;
}

.how-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 49px;
  margin-bottom: 60px;
}

.phone-columns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.phone-1,
.phone-2 {
  margin-right: 149px;
  margin-left: 15px;
}

.third-container {
  display: flex;
  margin-top: 173px;
}

.insta-photo {
  width: 15%;
  display: flex;
  justify-content: center;
}

.fourth-container {
  display: flex;
  justify-content: center;
}

.verifiedphoto-1,
.verifiedphoto-2 {
  margin-right: 130px;
  background: #ffffff;
  box-shadow: 0px 4px 4px #d4d3d3;
  border-radius: 3px;
}
.doc-photos {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-bottom: 2%;
}
.doc-title {
  display: flex;
  justify-content: center;
}

button.emailbutton-subscription {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  background-color: #1f1f1f;
  margin-left: 5px;
  border-radius: 3px;
  height: 21px;
  width: 70px;
}
.wellness-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #181717;
  width: 1166px;
  height: 183px;
  left: 135.76px;
  top: 3356px;
}

.home-title1 {
  margin-left: 140px;
  font-family: Poppins;
  font-size: 30px;
  line-height: 75px;
  color: #1f1f1f;
  font-weight: 600;
}

.home-title2 {
  font-family: Poppins;
  font-size: 30px;
  line-height: 75px;
  color: #1f1f1f;
  margin-right: 68%;
}

.home-title3 {
  font-family: Poppins;
  font-size: 30px;
  line-height: 75px;
  color: #1f1f1f;
}
form.email-subscription {
  border-bottom: 3px solid black;
}
input.email-subscription {
  border: none;
  width: 400px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
}

.discover {
  position: absolute;
  width: 285px;
  height: 71px;
  left: 139.76px;
  top: 397px;
  background: #1f1f1f;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 3;
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.clnalt-ver {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 75%;
}

.photo-curve {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 65px;
}

.fourth-container {
  display: flex;
  justify-content: space-evenly;
}

.imageBox2 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 150px;
  margin-left: 65px;
  margin-right: 65px;
}

.categoryList2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.categoryList2 li {
  border: 1px solid black;
  width: 20%;
  margin-bottom: 6%;
}

.categoryList2 ul {
  display: flex;
  align-items: center;
}

.doc-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #292525;
}

.follow {
  width: 55%;
}
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social-container {
  font-family: Poppins;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}
#__next {
  padding: 20px;
}
.image-item {
  padding: 20px 0 20px 20px;
}

.insta1,
.insta2 {
  margin-right: 6%;
}

/*=========================
    MODULE
============================*/
.module {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 99;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0 !important;
}
.module .exit {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  top: 10%;
  left: 5%;
  border-radius: 100%;
  border-color: #000;
  color: #000;
}
.module > :nth-child(n + 2) {
  width: 300px;
  text-align: center;
}
.module > :nth-child(n) button {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 0.75rem;
  width: 100%;
  font-weight: 900;
}
.module h6 {
  margin-bottom: 10%;
}
.module input {
  width: 100%;
}
.module a {
  text-decoration: underline;
  color: #646464;
}
.module form p {
  color: #646464;
  display: flex;
  align-items: center;
  text-align: left;
}
.module .container > :nth-child(n + 2) {
  margin-bottom: 5%;
}
.module .options button {
  align-items: center;
  position: relative;
}
.module .options button .icon {
  position: absolute;
  height: 100%;
  width: 40px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module input[type='checkbox'] {
  width: auto;
  margin-right: 1rem;
  margin-bottom: 0;
  cursor: pointer;
}
.module .success p + a {
  display: block;
  font-weight: bold;
  color: #000;
}
.module .success p {
  margin-bottom: 10%;
}
input {
  border: 2px solid #000;
  border-radius: 3px;
  padding: 0.75rem;
}
/*=========================
    PRODUCT LIST PAGE
============================*/
#productsList h6 {
  margin-bottom: 3%;
}
#productsList h6 + p {
  margin-bottom: 5%;
}
#productsList .categoryList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#productsList .categoryList li {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 3% 0 2%;
}
#productsList .categoryList li.active {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(236, 233, 225, 1) 62%,
    rgba(236, 233, 225, 1) 100%
  );
}
#productsList .categoryList li a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
#productsList .categoryList li p {
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 0.5rem;
}
#subCategories {
  margin-bottom: 6%;
}
#subCategories .button {
  margin-right: 2%;
  padding: 0.3rem 1rem;
  width: auto;
}
#subCategories .button.active {
  border: none;
  background-color: #ece9e1;
}
#productsList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#productsList ul li {
  width: 45%;
  margin-bottom: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#productsList .productImage div div {
  display: none;
}
#productsList ul li > a {
  width: 50%;
  height: 100%;
}
#productsList ul li > a .imageBox {
  height: 100%;
}
#productsList .productImage img {
  max-width: 10vw;
  max-height: 10vw;
}
#productsList .productInfo {
  width: 45%;
}
#productsList .productInfo .cut {
  white-space: normal;
  width: 100%;
  max-height: 11rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
#productsList .productInfo p {
  margin-bottom: 1rem;
}
#productsList .productInfo h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.productButtons .star {
  padding: 0 2px;
}
/*=======================
    PRODUCT PAGE
========================*/
#product h4 {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}
#product h4 + p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.productContainer {
  max-width: 600px;
  margin: 0 auto 8%;
}
#product .imageBox {
  box-shadow: none;
}
#product .productImage img {
  max-width: 30vw;
  max-height: 30vw;
}
.productImage {
  text-align: center;
  position: relative;
}
.productImage .verified {
  bottom: 0;
  left: 0;
}
.productImage > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productButtons > :nth-child(n) {
  border: 2px solid #000;
  border-radius: 0;
  width: 8rem;
  height: 2rem;
  display: flex;
  align-items: center;
  font-weight: 900;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  text-align: center;
}
.productButtons > :nth-child(n) :first-child {
  width: 20%;
}
.productButtons > :nth-child(n) :last-child {
  font-size: 0.85rem;
}
.productImage .verified {
  top: 0;
  width: auto;
}
.productButtons button.bookmarked {
  border: 1px solid #ded5d5;
  font-weight: 300;
}
.productButtons button.bookmarked img,
.productButtons button.bookmark img {
  height: 1.25rem;
}
.productContainer .tags {
  display: flex;
  justify-content: center;
}
.productContainer .tags img {
  margin: 0 1%;
}
.meter {
  margin-bottom: 5%;
}
.meterBar {
  height: 2.5rem;
  padding-top: 1.5rem;
  border-radius: 1.5rem;
  margin: auto;
  border: 1px solid #000;
  background-color: #fff;
}
.meterBar div {
  background-color: #dba09c;
  border-radius: 1.5rem;
}
.meter > p {
  margin: auto;
}
.meter h2 {
  font-size: 1rem;
}
.tags img {
  width: 80px;
  display: block;
}

.meterBar {
  width: 70%;
  height: 30px;
  padding-top: 16px;
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.meterNoDisplay {
  display: none;
}
.meterBar div {
  border-radius: 1rem;
  top: 0;
  bottom: 0;
  position: absolute;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  background-color: #dba09c;
  max-width: 100%;
}
.meterBar div p {
  text-align: center;
}
.meterBar > span {
  display: inline-block;
  width: 10%;
  height: 10px;
  border-right: 2px solid black;
  position: relative;
}
.meter > p {
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 4%;
}
.tabs button {
  display: inline-block;
  width: 50%;
  border-radius: 0;
  border: none;
  padding: 1rem 0;
}
.tabs button.active {
  background-color: #777;
}
/*=========================
    TABS
============================*/

.tabs button {
  background-color: #ffff;
  border: 2px solid #000;
  font-weight: 900;
}
.tabs button.active {
  background-color: #000;
  color: #fff;
}
li.list {
  border-bottom: 1px solid #ded5d5;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
li.productsList {
  justify-content: space-between;
}
.productsList .favoritesProduct {
  width: 100%;
}
li.ingredient button {
  font-size: 1.5rem;
  margin-right: 1%;
}
li.ingredient p {
  display: flex;
  align-items: center;
  height: 3rem;
}
li.ingredient.closed div p:nth-of-type(n + 2) {
  height: 0;
}
li.ingredient strong {
  margin-right: 0.5rem;
}
.button {
  width: 7rem;
  padding: 0.3rem 0;
  font-weight: 900;
  border: 1px solid #000;
  border-radius: 3px;
}

.reviewsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.reviewInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.reviewInput p {
  width: 100%;
}
.reviewInput input[type='textarea'] {
  border: none;
  width: 80%;
  border-bottom: 1px solid #dcdcdc57;
}
.reviewInput input[type='number'] {
  width: 2.5rem;
  margin-right: 1rem;
  height: 2rem;
  padding: 0;
}
.stars {
  display: flex;
  align-items: center;
}
.stars span {
  margin-right: 1rem;
}
i.fa-star.regular {
  font-weight: 100;
}
#product .reviews li .listImage {
  border-radius: 100%;
}
/* .reviews li div:first-of-type img {
  border-radius: 100%;
} */
li .listImage {
  margin: auto;
  width: 4vw;
  height: 4vw;
  overflow: hidden;
  display: block;
  text-align: center;
}
li .listImage .productImage {
  max-height: 100%;
}
li .listWrapper {
  text-align: center;
  width: 8vw;
  margin-right: 3%;
}
/*=======================
    INGREDIENTS ACCORDION
========================*/
li.ingredient {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
li.ingredient button {
  background-color: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
}
li.ingredient p {
  overflow: hidden;
  transition: height 0.5s;
}
/*=======================
    USERGUIDE PAGE
========================*/
.userguide-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #000000;
}

.userguide-paragraph {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.user-list {
  display: inline;
}

.userguide-check {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.userguide-check img {
  margin-right: 0.5rem;
}
.what-does {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  top: 367px;
  margin-bottom: 0.5rem;
}

/*=========================
    PROFILE PAGE
============================*/
#profile .userContainer,
#admin .userContainer {
  margin: 0 auto 8%;
  display: flex;
  align-items: center;
}
.userContainer > :first-child,
.userContainer > :first-child form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile .imageContainer,
#admin .imageContainer {
  border-radius: 100%;
  overflow: hidden;
  width: 17vw;
  height: 17vw;
  min-width: 150px;
}
#profile .imageContainer {
  margin-bottom: 10%;
}
#admin .imageContainer,
#profile .userContainer > :first-child {
  margin-right: 5%;
}
#profile .imageContainer img,
#admin .imageContainer img {
  width: 100%;
}
input[type='file'] {
  margin-bottom: 5%;
  padding: 0.1rem;
  width: 10vw;
}
#profile .button.adminPage {
  width: auto;
  padding: 0.3rem 0.5rem;
}
#profile .changePassword {
  font-weight: 300;
  text-decoration: underline;
  margin: 0.5rem auto;
  font-size: 0.875rem;
}
#profile .deleteAccount {
  color: #555;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0.5rem auto;
}
.noResults {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
}
.noResults a {
  text-decoration: underline;
}
.favorites {
  margin-bottom: 10%;
}
/*=========================
    ADMIN PAGE
============================*/
#admin .tabs {
  margin-bottom: 5%;
}
#admin li.list {
  justify-content: space-between;
}
#admin form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
#admin form label {
  width: 50%;
  margin-bottom: 5px;
}
#admin form label + * {
  display: block;
  width: 50%;
  margin-bottom: 15px;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 0.75rem;
}
#admin form .verified {
  display: flex;
  margin-bottom: 30px;
}
#admin form .verified button {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  border: 1px solid #000;
  border-radius: 100%;
  margin-right: 0.5rem;
}
#admin form .verified img {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  max-width: 2rem;
}
#admin .updateProduct .search {
  width: 50%;
  margin-bottom: 5%;
}
#admin .updateProduct .search + div li:first-of-type {
  border-top: 1px solid #ded5d5;
}
#admin .updateProduct li div {
  display: flex;
}
#admin .updateProduct li div button {
  margin-left: 2%;
}
#admin .updateProduct form .bgBlack {
  width: 8rem;
}
#admin .updateHeader {
  border-bottom: 1px solid #ded5d5;
  padding-bottom: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
}
/*======================
TERMS AND CONDITIONS
=======================*/
.termsConditions h6 {
  margin-bottom: 5%;
}
.termsConditions p {
  margin-bottom: 2%;
}
/*===================
NAVBAR RESPONSIVE VIEW
====================*/
@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transfrom 0.5s ease-in;
  }

  .burger {
    display: block;
  }

  /* @keyframes navLinkFade{
    from{
      opacity: 0;
      transform:
    }
  } */

  .nav-links li {
    opacity: 0;
  }

  .nav-active {
    transform: translateX(0%);
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: White;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 194px;
    left: 0px;
  }
}

/*===================
USERGUIDE TABLE
====================*/

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  border-spacing: 2px;
  border-color: grey;
  font-variant: normal;
}
table.health {
  width: 100%;
  margin: 30px 0;
  padding: 0;
}
table.health thead strong {
  color: #000;
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  font-weight: bold;
}
table.health thead th {
  background: #dba09c;
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 10px 0 10px 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
table.health tr td:first-child {
  width: 167px;
  padding-left: 10px;
}
table.health td {
  padding: 25px 0;
  vertical-align: middle;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
table.health td p {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-weight: normal;
}
.methodology p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  font-family: 'Karla', sans-serif;
  line-height: 30px;
}
table.health tr td:first-child + td + td {
  width: 93px;
  border-left: 1px solid #bee9ee;
  text-align: center;
}
table.health tr td:first-child + td + td {
  width: 93px;
  border-left: 1px solid #bee9ee;
  text-align: center;
}
table.health .amarillo {
  color: #b9a70c;
}
table.rating {
  width: 100%;
  padding: 0;
  margin: 0 0 40px 0;
}
table.health .rojo {
  color: #c53300;
}
table.health tr td:first-child + td + td {
  width: 93px;
  border-left: 1px solid #bee9ee;
  text-align: center;
}
table.health tr td:first-child + td + td + td + td {
  width: 90px;
  border-left: 1px solid #bee9ee;
  text-align: center;
}
table.health tr td:first-child + td + td + td {
  width: 90px;
  border-left: 1px solid #bee9ee;
  text-align: center;
}
table.health tr td:first-child + td {
  width: 260px;
  padding-left: 10px;
}
