body {
  margin: 0;
  padding: 0;
}
#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}
/*=========================
==========================
remove what has comments and where
 it has important 
 =============================
 ============================*/
img {
  max-width: 100%;
}
* {
  color: #000;
  font-family: 'Poppins', sans-serif;
}
button {
  background-color: #fff;
}
button:focus,
button:active,
input:focus,
input:active {
  outline: none;
}
.noBorder {
  border: none;
}
.block {
  display: block;
}
.bgBlack {
  background-color: #000;
  color: #fff;
}
/*=========================
    CONTAINER STYLES
===========================*/
.inner {
  max-width: 1280px;
  margin: auto;
  width: 90%;
}
.columns2 {
  display: flex;
  align-items: center;
}
.columns2 > :nth-child(n) {
  width: 50%;
}
.imageBox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
/*=========================
    PRODUCT LIST PAGE
============================*/
#productsList h6 {
  margin-bottom: 3%;
}
#productsList h6 + p {
  margin-bottom: 5%;
}
#productsList .categoryList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#productsList .categoryList li {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 3% 0 2%;
}
#productsList .categoryList li.active {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(236, 233, 225, 1) 62%,
    rgba(236, 233, 225, 1) 100%
  );
}
#productsList .categoryList li a {
  text-align: center;
}
#productsList .categoryList li p {
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 0.5rem;
}
#subCategories {
  margin-bottom: 6%;
}
#subCategories .button {
  margin-right: 2%;
  padding: 0.3rem 1rem;
  width: auto;
}
#subCategories .button.active {
  border: none;
  background-color: #ece9e1;
}
#productsList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#productsList ul li {
  width: 45%;
  margin-bottom: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#productsList .productImage div div {
  display: none;
}
#productsList ul li > a {
  width: 50%;
  height: 100%;
}
#productsList ul li > a .imageBox {
  height: 100%;
}
#productsList .productInfo {
  width: 45%;
}
#productsList .productInfo h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
/*=========================
    MODULE
============================*/
.module {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 99;
  background-color: #ece9e1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.module .exit {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  top: 10%;
  left: 5%;
  border-radius: 100%;
  border-color: #000;
  color: #000;
}
.module > :nth-child(n + 2) {
  width: 300px;
  text-align: center;
}
.module > :nth-child(n) button {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 0.75rem;
  width: 100%;
  font-weight: 900;
}
.module h6 {
  margin-bottom: 10%;
}
.module input {
  width: 100%;
}
.module a {
  text-decoration: underline;
  color: #646464;
}
.module form p {
  color: #646464;
  display: flex;
  align-items: center;
  text-align: left;
}
.module .container > :nth-child(n + 2) {
  margin-bottom: 5%;
}
.module .options button {
  align-items: center;
  position: relative;
}
.module .options button .icon {
  position: absolute;
  height: 100%;
  width: 40px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module input[type='checkbox'] {
  width: auto;
  margin-right: 1rem;
  margin-bottom: 0;
  cursor: pointer;
}
.module .success p + a {
  display: block;
  font-weight: bold;
  color: #000;
}
.module .success p {
  margin-bottom: 10%;
}
input {
  border: 2px solid #000;
  border-radius: 3px;
  padding: 0.75rem;
}
/*=========================
    PRODUCT PAGE
============================*/

#product h4 {
  font-size: 3rem;
  margin-bottom: 0.75rem;
}
#product h4 + p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.productContainer {
  max-width: 600px;
  margin: 0 auto 8%;
}
#product .imageBox {
  box-shadow: none;
}
.productImage {
  text-align: center;
  position: relative; /*remove*/
}
.productImage .verified {
  position: initial !important;
  width: 7rem !important;
  bottom: 0; /*remove*/
  left: 0; /*remove*/
}
.productImage > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productButtons > :nth-child(n) {
  border: 2px solid #000;
  border-radius: 0;
  width: 8rem;
  height: 2rem;
  display: flex;
  align-items: center;
  font-weight: 900;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  text-align: center;
}
.productButtons > :nth-child(n) :first-child {
  width: 20%;
}
.productButtons > :nth-child(n) :last-child {
  font-size: 0.85rem;
}
.productImage .verified {
  top: 0;
  width: auto;
}
.productButtons button.bookmarked {
  border: 1px solid #ded5d5;
  font-weight: 300;
}
.productButtons button.bookmarked img,
.productButtons button.bookmark img {
  height: 1.25rem;
}
.productContainer .tags {
  display: flex;
  justify-content: center;
}
.productContainer .tags img {
  margin: 0 1%;
}
.meter {
  margin-bottom: 5%;
}
.meterBar {
  height: 2.5rem !important;
  padding-top: 1.5rem !important;
  border-radius: 1.5rem !important;
  margin: auto;
  border: 1px solid #000;
  background-color: #fff !important;
}
.meterBar div {
  background-color: #dba09c !important;
  border-radius: 1.5rem !important;
}
.meter > p {
  margin: auto;
}
.meter h2 {
  font-size: 1rem;
}
/*=========================
    TABS
============================*/

.tabs button {
  background-color: #ffff;
  border: 2px solid #000 !important;
  font-weight: 900;
}
.tabs button.active {
  background-color: #000 !important;
  color: #fff;
}
li.list {
  border-bottom: 1px solid #ded5d5 !important;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
#admin li.list {
  justify-content: space-between;
}
li.list .listImage {
  width: 15%;
  text-align: center;
  margin-right: 3%;
}
li.ingredient button {
  font-size: 1.5rem;
  margin-right: 1%;
}
li.ingredient p {
  display: flex;
  align-items: center;
}
li.ingredient strong {
  margin-right: 0.5rem;
}

.button {
  width: 7rem;
  padding: 0.3rem 0;
  font-weight: 900;
  border: 1px solid #000;
  border-radius: 3px;
}

.reviewsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.stars {
  display: flex;
  align-items: center;
}
.stars img {
  margin-right: 1rem;
}
.reviews li div:first-of-type img {
  border-radius: 100%;
  width: 4rem;
}

/*=========================
    PROFILE PAGE
============================*/
#profile .userContainer,
#admin .userContainer {
  margin: 0 auto 8%;
  display: flex;
  align-items: center;
}
.userContainer > :first-child,
.userContainer > :first-child form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile .imageContainer,
#admin .imageContainer {
  border-radius: 100%;
  overflow: hidden;
  width: 17vw;
  height: 17vw;
  min-width: 150px;
}
#profile .imageContainer {
  margin-bottom: 10%;
}
#admin .imageContainer,
#profile .userContainer > :first-child {
  margin-right: 5%;
}
#profile .imageContainer img,
#admin .imageContainer img {
  width: 100%;
}
input[type='file'] {
  margin-bottom: 5%;
  padding: 0.1rem;
  width: 10vw;
}
#profile .button.adminPage {
  width: auto;
  padding: 0.3rem 0.5rem;
}
#profile .changePassword {
  font-weight: 300;
  text-decoration: underline;
  margin: 0.5rem auto;
  font-size: 0.875rem;
}
.noResults {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
}
.noResults a {
  text-decoration: underline;
}

/*=========================
    ADMIN PAGE
============================*/
#admin .tabs {
  margin-bottom: 5%;
}
#admin form {
  display: flex;
  flex-direction: column;
}
#admin form label {
  width: 50%;
  margin-bottom: 5px;
}
#admin form label + * {
  display: block;
  width: 50%;
  margin-bottom: 15px;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 0.75rem;
}
#admin form .verified {
  display: flex;
  margin-bottom: 30px;
}
#admin form .verified button {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  border: 1px solid #000;
  border-radius: 100%;
  margin-right: 0.5rem;
}
#admin form .verified img {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  max-width: 2rem;
}
#admin .updateProduct .search {
  width: 50%;
  margin-bottom: 5%;
}
#admin .updateProduct .search + div li:first-of-type {
  border-top: 1px solid #ded5d5;
}
#admin .updateProduct li div {
  display: flex;
}
#admin .updateProduct li div button {
  margin-left: 2%;
}
#admin .updateProduct form .bgBlack {
  width: 8rem;
}
#admin .updateHeader {
  border-bottom: 1px solid #ded5d5;
  padding-bottom: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
}
